{% extends "base.html" %}

{% block title %}FFXIV Jobs {% endblock %}

{% block content %}
    <h2>All Jobs ({{ jobs|length }})</h2>

    a href="{{ url_for('seed_jobs') }}" class="btn-primary">Rd-seed Jobs Data</a>

    <table style="margin-top: 20px; width: 100%;">
        <thead>
            <tr>
                <th>Job</th>
                <th>Short</th>
                <th>Starting Level</th>
                <th>Type</th>
                <th>Limited?</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td><strong>{{ job.Job_Longname }}</strong></td>
                <td>{{ job.Job_Shortname }}</td>
                <td>{{ job.Starting_Level }}</td>
                <td>{{ job.Job_Type }}</td>
                <td>{% if job.Limited_Job %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}